@import url('octogram.splash.css');
@import url('elements/octogram.aifeatures.css');
@import url('elements/octogram.buttons.css');
@import url('elements/octogram.card.css');
@import url('elements/octogram.download.css');
@import url('elements/octogram.error.css');
@import url('elements/octogram.features.css');
@import url('elements/octogram.footer.css');
@import url('elements/octogram.header.css');
@import url('elements/octogram.introduction.css');
@import url('elements/octogram.pointer.css');
@import url('elements/octogram.selectmenu.css');

:root {
      scroll-behavior: smooth;
      font-family: 'National Park', sans-serif;
      overflow-x: hidden;
      overscroll-behavior: none;
}

body {
    background: #0f031e;
    box-sizing: border-box;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent; 
}

body > .page {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    animation: 0.4s appearOpacity 0.2s forwards;
}


@media (max-width: 900px) {
    body > .page {
        padding-top: 60px;
        box-sizing: border-box;
    }
}

@keyframes appearOpacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@supports (overflow-y: overlay) {
    body > .page {
        overflow-y: overlay;
    }
}

body > .page.js-error {
    display: none;
}

body > .page::-webkit-scrollbar {
	width: 5px;
}

body > .page::-webkit-scrollbar-track {
	background: transparent;
}

body > .page::-webkit-scrollbar-thumb {
	background: transparent;
	transition: 0.4s background;
}

:root:hover body > .page::-webkit-scrollbar-thumb {
	background: #5348c3;
	border-radius: 10px;
}

body > .page img {
    pointer-events: none;
}