body > .page > .error {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

body > .page > .error .message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
}

body > .page > .error .message lottie-player {
  height: 200px;
}

body > .page > .error .message .title {
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: center;
}