body > .page > .introduction {
  height: calc(100vh - 60px);
  width: 100%;
  position: relative;
}

body > .page > .introduction .background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #4062bb;
  background-image: linear-gradient(316deg, #08040e 0%, #150738 74%);
}

body > .page > .introduction .background svg {
  position: absolute;
  left: 0;
  transform: scaleY(0.5) translateY(52%);
}

body > .page > .introduction .background svg.top-1 {
  top: 0;
  transform: scaleY(0.5) translateY(-70%) rotate(180deg);
}

body > .page > .introduction .background svg:not(.top-1) {
  bottom: 0;
}

body > .page > .introduction .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}

body > .page > .introduction .content .app-banner {
  width: 30vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.8);
  opacity: 0;
  animation: 0.4s appearItem 0.3s forwards;
}

@keyframes appearItem {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

body > .page > .introduction .content .app-banner canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

body > .page > .introduction .content .app-banner .app-logo {
  background: rgb(38, 29, 128);
  border-radius: 50%;
  padding: 40px;
  z-index: 0;
}

body > .page > .introduction .content .app-banner .app-logo img {
  height: min(200px, 25vw);
  width: min(200px, 25vw);
  filter: invert(1);
}

body > .page > .introduction .content .app-name {
  font-size: 2.8em;
  font-weight: 600;
  color: white;
  margin-top: 15px;
  transform: translateY(20px);
  opacity: 0;
  animation: 0.4s appearItem 0.6s forwards;
}

body > .page > .introduction .content .app-description {
  font-size: 1.3em;
  max-width: max(400px, 25vw);
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  transform: translateY(20px);
  opacity: 0;
  animation: 0.4s appearItem 0.7s forwards;
}

body > .page > .introduction .content .actions {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transform: scale(0.8);
  opacity: 0;
  animation: 0.4s appearItem 0.8s forwards;
}