body > .page > .pointer {
  background: #11091e;
  padding-block: 60px;
  margin-bottom: 40px;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

body > .page > .pointer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(#0f031e, #11091e);
}

body > .page > .pointer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(#11091e, #0f031e);
}

body > .page > .pointer {
  display: flex;
  align-items: center;
  justify-content: center;
}

body > .page > .pointer .message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  max-width: min(500px, 87vw);
}

body > .page > .pointer .message .sticker img,
body > .page > .pointer .message .sticker lottie-player {
  height: 150px;
  width: 150px;
}

body > .page > .pointer .message .title {
  color: #FFFFFF;
}

body > .page > .pointer .message .button {
  width: 100%;
}